
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-up-open-big:before { content: '\e803'; } /* '' */
.icon-brush:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-thumbs-up:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e80f'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-bell:before { content: '\e814'; } /* '' */
.icon-flag:before { content: '\e815'; } /* '' */
.icon-plus-circled:before { content: '\e816'; } /* '' */
.icon-cancel-squared:before { content: '\e817'; } /* '' */
.icon-cancel-circled:before { content: '\e818'; } /* '' */
.icon-basket:before { content: '\e819'; } /* '' */
.icon-menu:before { content: '\e81a'; } /* '' */
.icon-database:before { content: '\e81b'; } /* '' */
.icon-paper-plane:before { content: '\e81c'; } /* '' */
.icon-palette:before { content: '\e81d'; } /* '' */
.icon-trophy:before { content: '\e81e'; } /* '' */
.icon-mouse:before { content: '\e81f'; } /* '' */
.icon-wrench:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e821'; } /* '' */
.icon-left-open:before { content: '\e822'; } /* '' */
.icon-right-open:before { content: '\e823'; } /* '' */
.icon-up-open:before { content: '\e824'; } /* '' */
.icon-right-hand:before { content: '\e825'; } /* '' */
.icon-left-hand:before { content: '\e826'; } /* '' */
.icon-up-hand:before { content: '\e827'; } /* '' */
.icon-down-hand:before { content: '\e828'; } /* '' */
.icon-globe:before { content: '\e829'; } /* '' */
.icon-cloud:before { content: '\e82a'; } /* '' */
.icon-flash:before { content: '\e82b'; } /* '' */
.icon-umbrella:before { content: '\e82c'; } /* '' */
.icon-thumbs-down:before { content: '\e82d'; } /* '' */
.icon-thumbs-up-1:before { content: '\e82e'; } /* '' */
.icon-home:before { content: '\e82f'; } /* '' */
.icon-camera-alt:before { content: '\e830'; } /* '' */
.icon-mail-1:before { content: '\e831'; } /* '' */
.icon-bookmark:before { content: '\e832'; } /* '' */
.icon-volume-off:before { content: '\e833'; } /* '' */
.icon-volume-down:before { content: '\e834'; } /* '' */
.icon-volume-up:before { content: '\e835'; } /* '' */
.icon-edit:before { content: '\e836'; } /* '' */
.icon-pencil-1:before { content: '\e837'; } /* '' */
.icon-doc:before { content: '\e838'; } /* '' */
.icon-eye:before { content: '\e839'; } /* '' */
.icon-lock:before { content: '\e83a'; } /* '' */
.icon-clipboard:before { content: '\e83b'; } /* '' */
.icon-suitcase:before { content: '\e83c'; } /* '' */
.icon-light-up:before { content: '\e83d'; } /* '' */
.icon-light-down:before { content: '\e83e'; } /* '' */
.icon-share-1:before { content: '\e83f'; } /* '' */
.icon-tools:before { content: '\e840'; } /* '' */
.icon-book-open:before { content: '\e841'; } /* '' */
.icon-book:before { content: '\e842'; } /* '' */
.icon-newspaper:before { content: '\e843'; } /* '' */
.icon-docs:before { content: '\e844'; } /* '' */
.icon-user-pair:before { content: '\e845'; } /* '' */
.icon-user-1:before { content: '\e846'; } /* '' */
.icon-star:before { content: '\e847'; } /* '' */
.icon-pencil-alt:before { content: '\e848'; } /* '' */
.icon-pencil-2:before { content: '\e849'; } /* '' */
.icon-zoom-in:before { content: '\e84a'; } /* '' */
.icon-zoom-out:before { content: '\e84b'; } /* '' */
.icon-mail-2:before { content: '\e84c'; } /* '' */
.icon-location:before { content: '\e84d'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-contao:before { content: '\f26d'; } /* '' */
.icon-fort-awesome:before { content: '\f286'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */